.scrollable {
  overflow-y: auto
}

.sidebar {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  border-right: 2px solid rgb(222, 222, 222);
}

.normal-button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: none;
  color: rgb(0, 0, 0, 50%);
  width: 100%;
}

.normal-button.active {
  color: #0B6E4F;
  background-color: #8FCB9B;
}

.normal-button.active:hover {
  color: #0B6E4F;
  background-color: #8FCB9B;
}

.normal-button:hover {
  color: #0B6E4F;
  background-color: #eef9f0;
}