<div class="box_button">
    <button type="button" class="btn upload_button grow" data-bs-toggle="modal" data-bs-target="#uploadbox">
        <i class="fa-solid fa-plus"></i>
    </button>
</div>

<div class="modal fade" id="uploadbox" tabindex="-1" aria-labelledby="uploadboxLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0B6E4F; color: white">
                <h1 class="modal-title fs-5" id="uploadboxLabel">Add a Receipt</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">
                <div class="col-md-6">
                    Enter Details
                    <form id="upload_data">
                        <div class="form-group">
                            <label for="receipt_title" style="font-size: 75%;">Title</label>
                            <input type="text" class="form-control" id="receipt_title" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <label for="category" style="font-size: 75%;">Tag</label>
                            <select class="form-control" id="category">
                                <option>Entertainment</option>
                                <option>Food</option>
                                <option>Healthcare and Insurance</option>
                                <option>Housing</option>
                                <option>Miscellaneous</option>
                                <option>Transportation</option>
                                <option>Utilities</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="total" style="font-size: 75%;">Description</label>
                            <input type="textarea" class="form-control" id="description" placeholder="Description"
                                rows="3">
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="image-preview-container">
                        <div class="preview">
                            <img id="preview-selected-image" />
                        </div>
                        <label for="file-upload">Upload Image</label>
                        <input type="file" id="file-upload" accept="image/*" onchange="previewImage(event);" />
                        <button type="button" class="btn btn-primary" onclick="uploadReceipt()">Primary</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>